<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Course</title>

    <script src="/static/js/class_schedule/Timetables.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/board/normalize.css">
    <link type="text/css" rel="stylesheet" href="/static/css/board/login.css">
    <link type="text/css" rel="stylesheet" href="/static/css/board/component.css">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/information/mainlayout-component.css">
    <link type="text/css" rel="stylesheet" href="/static/css/information/basics.css">


    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/local.css" />

    <script type="text/javascript" src="/static/js/bootstrap/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="new_timetable.html" style="margin-top:-2%;color:hotpink;font-style:italic;font-family:'Times New Roman',Georgia,Serif;font-size: 30px;">STARS</a>
{#                <a class="navbar-brand" href="index.html">Admin Panel</a>#}
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="/class_schedule/show_new_schedule"><i class="fa fa-bullseye"></i> Timetable</a></li>
                    <li><a href="/update_schedule/update_schedule"><i class="fa fa-tasks"></i> Update Schedule</a></li>
                    <li><a href="/search_course/index"><i class="fa fa-globe"></i>Search Course</a></li>
                    <li><a href="forms.html"><i class="fa fa-list-ol"></i> Forms</a></li>
                    <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
                    <li><a href="bootstrap-elements.html"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
                    <li><a href="/information/information"><i class="fa fa-table"></i > Information</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
{#                        <ul class="dropdown-menu">#}
{#                            <li class="dropdown-header">2 New Messages</li>#}
{#                            <li class="message-preview">#}
{#                                <a href="#">#}
{#                                    <span class="avatar"><i class="fa fa-bell"></i></span>#}
{#                                    <span class="message">Security alert</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="divider"></li>#}
{#                            <li class="message-preview">#}
{#                                <a href="#">#}
{#                                    <span class="avatar"><i class="fa fa-bell"></i></span>#}
{#                                    <span class="message">Security alert</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="divider"></li>#}
{#                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>#}
{#                        </ul>#}
                    </li>
                    <li >
                       <a href="/board/logout"><i class="fa fa-user"></i> Logout</a>
                   </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
                <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add courses</h3>
                        </div>
                <div class="panel-body">
                    <form class="information" action="/update_schedule/add_course" name="add_course" method="post">
                           {% csrf_token %}
                      <ul>
                          <li >
                              <lable for="cno"> 课程号：</lable>
                              <input name="cno" class="text" style="color:#66C1E4 !important" >
                          </li>
                      </ul>
                             <div class="mb2">
                              <a class="act-but submit" href="javascript:document.add_course.submit();" style="width:70%;float: unset;color:#999999">确认添加</a>
                             </div>
                     </form>
                        </div>
                    </div>
                     <div class="panel panel-warning" width="45%;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sub courses</h3>
                        </div>
                        <div class="panel-body">
                            <form class="information" action="/update_schedule/sub_course" name="sub_course" method="post">
                           {% csrf_token %}
                        <ul>
                          <li>
                              <lable for="cno"> 课程号：</lable>
                              <input name="cno" class="text" style="color:#66C1E4 !important" >
                          </li>
                       <li>
                          <div class="mb2">
                              <a class="act-but submit" href="javascript:document.sub_course.submit();" style="width:70%;float: unset;color:#999999">确认删除</a>
                          </div>
                       </li>
                     </ul>
                 </form>
                        </div>
                    </div>
             </div>
        </div>
    </div>
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/jquery.cookie.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/angular.min.js"></script>
<script src="/static/js/lib/ng-file-upload-shim.min.js"></script>
<script src="/static/js/lib/ng-file-upload.min.js"></script>
<script src="/static/js/lib/ajaxfileupload.js"></script>
<script>
    (function(window,document,undefined){
    var hearts = [];

    window.requestAnimationFrame = (function(){
        return window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
         window.oRequestAnimationFrame ||
         window.msRequestAnimationFrame ||
         function (callback){
             setTimeout(callback,1000/60);
         }
    })();

    init();

    function init(){
        css(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: absolute;}.heart:after{top: -5px;}.heart:before{left: -5px;}");
        attachEvent();
        gameloop();
    }

    function gameloop(){
        for(var i=0;i<hearts.length;i++){
            if(hearts[i].alpha <=0){
                document.body.removeChild(hearts[i].el);
                hearts.splice(i,1);
                continue;
             }

             hearts[i].y--;
             hearts[i].scale += 0.004;
             hearts[i].alpha -= 0.013;
             hearts[i].el.style.cssText = "left:"+hearts[i].x+"px;top:"+hearts[i].y+"px;opacity:"+hearts[i].alpha+";transform:scale("+hearts[i].scale+","+hearts[i].scale+") rotate(45deg);background:"+hearts[i].color;
        }

        requestAnimationFrame(gameloop);
    }

    function attachEvent(){
        var old = typeof window.onclick==="function" && window.onclick;
        window.onclick = function(event){
            old && old();
            createHeart(event);
        }
    }

    function createHeart(event){
        var d = document.createElement("div");
        d.className = "heart";
        hearts.push({
            el : d,
            x : event.clientX - 5,
            y : event.clientY - 5,
            scale : 1,
            alpha : 1,
            color : randomColor()
        });

        document.body.appendChild(d);
    }

    function css(css){
        var style = document.createElement("style");
        style.type="text/css";
        try{
            style.appendChild(document.createTextNode(css));
        }
        catch(ex){
            style.styleSheet.cssText = css;
        }

        document.getElementsByTagName('head')[0].appendChild(style);
    }

    function randomColor(){
        return "rgb("+(~~(Math.random()*255))+","+(~~(Math.random()*255))+","+(~~(Math.random()*255))+")";
    }

})(window,document);
</script>
</body>
</html>
