<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Course</title>

    <script src="/static/js/class_schedule/Timetables.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/board/normalize.css">
    <link type="text/css" rel="stylesheet" href="/static/css/board/login.css">
    <link type="text/css" rel="stylesheet" href="/static/css/board/component.css">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/information/mainlayout-component.css">
    <link type="text/css" rel="stylesheet" href="/static/css/information/basics.css">


    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/local.css" />

    <script type="text/javascript" src="/static/js/bootstrap/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
<style>
	#coursesTable {
		padding: 15px 10px;
	}

	.Courses-head {
		background-color: #edffff;
	}

	.Courses-head > div {
		text-align: center;
		font-size: 14px;
		line-height: 28px;
	}

	.left-hand-TextDom, .Courses-head {
		background-color: #f2f6f7;
	}

	.Courses-leftHand {
		background-color: #f2f6f7;
		font-size: 12px;
	}

	.Courses-leftHand .left-hand-index {
		color: #9c9c9c;
		margin-bottom: 4px !important;
	}

	.Courses-leftHand .left-hand-name {
		color: #666;
	}

	.Courses-leftHand p {
		text-align: center;
		font-weight: 900;
	}

	.Courses-head > div {
		border-left: none !important;
	}

	.Courses-leftHand > div {
		padding-top: 5px;
		border-bottom: 1px dashed rgb(219, 219, 219);
	}

	.Courses-leftHand > div:last-child {
		border-bottom: none !important;
	}

	.left-hand-TextDom, .Courses-head {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
	}

	.Courses-content > ul {
		border-bottom: 1px dashed rgb(219, 219, 219);
		box-sizing: border-box;
	}

	.Courses-content > ul:last-child {
		border-bottom: none !important;
	}

	.highlight-week {
		color: #02a9f5 !important;
	}

	.Courses-content li {
		text-align: center;
		color: #666666;
		font-size: 14px;
		line-height: 50px;
	}

	.Courses-content li span {
		padding: 6px 2px;
		box-sizing: border-box;
		line-height: 18px;
		border-radius: 4px;
		white-space: normal;
		word-break: break-all;
		cursor: pointer;
	}

	.grid-active {
		z-index: 9999;
	}

	.grid-active span {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}
</style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="new_timetable.html" style="margin-top:-2%;color:hotpink;font-style:italic;font-family:'Times New Roman',Georgia,Serif;font-size: 30px;">STARS</a>
{#                <a class="navbar-brand" href="index.html">Admin Panel</a>#}
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="/class_schedule/show_new_schedule"><i class="fa fa-bullseye"></i> Timetable</a></li>
                    <li><a href="/update_schedule/update_schedule"><i class="fa fa-tasks"></i> Update Schedule</a></li>
                    <li><a href="blog.html"><i class="fa fa-globe"></i> Blog</a></li>
                    <li><a href="forms.html"><i class="fa fa-list-ol"></i> Forms</a></li>
                    <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
                    <li><a href="bootstrap-elements.html"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
                    <li><a href="/information/information"><i class="fa fa-table"></i > Information</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
{#                        <ul class="dropdown-menu">#}
{#                            <li class="dropdown-header">2 New Messages</li>#}
{#                            <li class="message-preview">#}
{#                                <a href="#">#}
{#                                    <span class="avatar"><i class="fa fa-bell"></i></span>#}
{#                                    <span class="message">Security alert</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="divider"></li>#}
{#                            <li class="message-preview">#}
{#                                <a href="#">#}
{#                                    <span class="avatar"><i class="fa fa-bell"></i></span>#}
{#                                    <span class="message">Security alert</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="divider"></li>#}
{#                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>#}
{#                        </ul>#}
                    </li>
                   <li >
                       <a href="/board/logout"><i class="fa fa-user"></i> Logout</a>
                   </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
          <div style="height:1500px;overflow-y: auto;">
               <button onclick="onChange()" style="background-color: #00a2ae; color: #fff; padding: 5px 10px; border-radius: 4px;border: none">
                           切换课表
               </button>
              <div id="coursesTable"></div>
          </div>
        </div>
    </div>
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/jquery.cookie.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/angular.min.js"></script>
<script src="/static/js/lib/ng-file-upload-shim.min.js"></script>
<script src="/static/js/lib/ng-file-upload.min.js"></script>
<script src="/static/js/lib/ajaxfileupload.js"></script>
<script>
    get_schedule();
    var courseList ;
    var week = window.innerWidth > 360 ? ['周一', '周二', '周三', '周四', '周五'] :
    ['一', '二', '三', '四', '五'];
     var day = new Date().getDay();
     var courseType = [
     [{index: '1', name: '8:30'}, 1],
     [{index: '2', name: '9:30'}, 1],
         [{index: '3', name: '10:30'}, 1],
     [{index: '4', name: '11:30'}, 1],
     [{index: '5', name: '12:30'}, 1],
         [{index: '6', name: '14:30'}, 1],
      [{index: '7', name: '15:30'}, 1],
      [{index: '8', name: '16:30'}, 1],
      [{index: '9', name: '17:30'}, 1],
      [{index: '10', name: '18:30'}, 1],
      [{index: '11', name: '19:30'}, 1],
      [{index: '12', name: '20:30'}, 1]
     ];
     var Timetable = new Timetables();

    //a.js
function afterAjaxSuccess(jsonData) {
    courseList=jsonData;

Timetable =new Timetables({
el: '#coursesTable',
timetables: courseList,
week: week,
timetableType: courseType,
highlightWeek: day,
gridOnClick: function (e) {
  alert(e.name + '  ' + e.week + ', 第' + e.index + '节课, 课长' + e.length + '节');
  console.log(e);
},
styles: {
  Gheight: 50
}
});
}
//.html
function get_schedule() {
    $.ajax({
        url:'/class_schedule/get_schedule',
        dataType: 'JSON',
        type: 'GET',
        success: function(data){
            afterAjaxSuccess(data);
        },
        error: function(data, status, e) {
            alert("asd");
        }
    });
}

//切换课表
function onChange() {
    $.ajax({
        url:'/class_schedule/get_scheduleOther',
        dataType: 'JSON',
        type: 'GET',
        success: function(data){
            changeScheduleSuccess(data);
        },
        error: function(data, status, e) {
            alert("asd");
        }
    });
}
function changeScheduleSuccess(jsonData) {
    courseListOther = jsonData;

   Timetable.setOption({
  timetables: courseListOther,
  week: ['一', '二', '三', '四', '五', '六', '日'],
  styles: {
	palette: ['#dedcda', '#ff4081']
  },
  timetableType: courseType,
  gridOnClick: function (e) {
  alert(e.name + '  ' + e.week + ', 第' + e.index + '节课, 课长' + e.length + '节');
  console.log(e);
  },
  });
}

</script>
    <script type="text/javascript">
        jQuery(function ($) {
            var performance = [12, 43, 34, 22, 12, 33, 4, 17, 22, 34, 54, 67],
                visits = [123, 323, 443, 32],
                budget = [23, 19, 11, 134, 242, 352, 435, 22, 637, 445, 555, 57],
                sales = [11, 9, 31, 34, 42, 52, 35, 22, 37, 45, 55, 57];

            $("#shieldui-chart1").shieldChart({
                primaryHeader: {
                    text: "Visitors"
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                dataSeries: [{
                    seriesType: "area",
                    collectionAlias: "Q Data",
                    data: performance
                }]
            });

            $("#shieldui-chart2").shieldChart({
                primaryHeader: {
                    text: "Logins Per week"
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                seriesSettings: {
                    donut: {
                        enablePointSelection: true
                    }
                },
                dataSeries: [{
                    seriesType: "donut",
                    collectionAlias: "logins",
                    data: visits
                }]
            });

            $("#shieldui-chart3").shieldChart({
                primaryHeader: {
                    text: "Budget"
                },
                dataSeries: [{
                    seriesType: "line",
                    collectionAlias: "Budget",
                    data: budget
                }]
            });

            $("#shieldui-chart4").shieldChart({
                primaryHeader: {
                    text: "Sales"
                },
                dataSeries: [{
                    seriesType: "bar",
                    collectionAlias: "sales",
                    data: sales
                }]
            });

            $("#shieldui-grid1").shieldGrid({
                dataSource: {
                    data: gridData
                },
                sorting: {
                    multiple: true
                },
                paging: {
                    pageSize: 12,
                    pageLinksCount: 4
                },
                selection: {
                    type: "row",
                    multiple: true,
                    toggle: false
                },
                columns: [
                    { field: "id", width: "70px", title: "ID" },
                    { field: "name", title: "Person Name" },
                    { field: "company", title: "Company Name" },
                    { field: "email", title: "Email Address", width: "270px" }
                ]
            });
        });
    </script>
</body>
</html>
