<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Course</title>

    <script src="/static/js/class_schedule/Timetables.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/board/normalize.css">
    <link type="text/css" rel="stylesheet" href="/static/css/board/login.css">
    <link type="text/css" rel="stylesheet" href="/static/css/board/component.css">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/information/mainlayout-component.css">
    <link type="text/css" rel="stylesheet" href="/static/css/information/basics.css">


    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/local.css" />

    <link type="text/css" rel="stylesheet" href="/static/css/loading.css">

    <script type="text/javascript" src="/static/js/bootstrap/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>
<style>
	#coursesTable {
		padding: 15px 10px;
	}

	.Courses-head {
		background-color: #edffff;
	}

	.Courses-head > div {
		text-align: center;
		font-size: 14px;
		line-height: 28px;
	}

	.left-hand-TextDom, .Courses-head {
		background-color: #f2f6f7;
	}

	.Courses-leftHand {
		background-color: #f2f6f7;
		font-size: 12px;
	}

	.Courses-leftHand .left-hand-index {
		color: #9c9c9c;
		margin-bottom: 4px !important;
	}

	.Courses-leftHand .left-hand-name {
		color: #666;
	}

	.Courses-leftHand p {
		text-align: center;
		font-weight: 900;
	}

	.Courses-head > div {
		border-left: none !important;
	}

	.Courses-leftHand > div {
		padding-top: 5px;
		border-bottom: 1px dashed rgb(219, 219, 219);
	}

	.Courses-leftHand > div:last-child {
		border-bottom: none !important;
	}

	.left-hand-TextDom, .Courses-head {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
	}

	.Courses-content > ul {
		border-bottom: 1px dashed rgb(219, 219, 219);
		box-sizing: border-box;
	}

	.Courses-content > ul:last-child {
		border-bottom: none !important;
	}

	.highlight-week {
		color: #02a9f5 !important;
	}

	.Courses-content li {
		text-align: center;
		color: #666666;
		font-size: 14px;
		line-height: 50px;
	}

	.Courses-content li span {
		padding: 6px 2px;
		box-sizing: border-box;
		line-height: 18px;
		border-radius: 4px;
		white-space: normal;
		word-break: break-all;
		cursor: pointer;
	}

	.grid-active {
		z-index: 9999;
	}

	.grid-active span {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}
</style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="new_timetable.html" style="margin-top:-2%;color:hotpink;font-style:italic;font-family:'Times New Roman',Georgia,Serif;font-size: 30px;">STARS</a>
{#                <a class="navbar-brand" href="index.html">Admin Panel</a>#}
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="/class_schedule/show_new_schedule"><i class="fa fa-bullseye"></i> Timetable</a></li>
                    <li><a href="/update_schedule/update_schedule"><i class="fa fa-tasks"></i> Update Schedule</a></li>
                    <li><a href="/search_course/index"><i class="fa fa-globe"></i>Search Course</a></li>
                    <li><a href="forms.html"><i class="fa fa-list-ol"></i> Forms</a></li>
                    <li><a href="typography.html"><i class="fa fa-font"></i> Typography</a></li>
                    <li><a href="bootstrap-elements.html"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
                    <li><a href="/information/information"><i class="fa fa-table"></i > Information</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
{#                        <ul class="dropdown-menu">#}
{#                            <li class="dropdown-header">2 New Messages</li>#}
{#                            <li class="message-preview">#}
{#                                <a href="#">#}
{#                                    <span class="avatar"><i class="fa fa-bell"></i></span>#}
{#                                    <span class="message">Security alert</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="divider"></li>#}
{#                            <li class="message-preview">#}
{#                                <a href="#">#}
{#                                    <span class="avatar"><i class="fa fa-bell"></i></span>#}
{#                                    <span class="message">Security alert</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="divider"></li>#}
{#                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>#}
{#                        </ul>#}
                    </li>
                   <li >
                       <a href="/board/logout"><i class="fa fa-user"></i> Logout</a>
                   </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
          <div style="height:1500px;overflow-y: auto;">
               <button onclick="onChange()" style="background-color: #00a2ae; color: #fff; padding: 5px 10px; border-radius: 4px;border: none">
                           切换课表
               </button>
              <div id="coursesTable"></div>
          </div>
        </div>
    </div>
    <div class="loading" id="load" >
        <img class="gif" src="/static/images/loading.gif">
    </div>
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/jquery.cookie.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/angular.min.js"></script>
<script src="/static/js/lib/ng-file-upload-shim.min.js"></script>
<script src="/static/js/lib/ng-file-upload.min.js"></script>
<script src="/static/js/lib/ajaxfileupload.js"></script>
<script>
    get_schedule();
    var courseList ;
    var week = window.innerWidth > 360 ? ['周一', '周二', '周三', '周四', '周五'] :
    ['一', '二', '三', '四', '五'];
     var day = new Date().getDay();
     var courseType = [
     [{index: '1', name: '8:30'}, 1],
     [{index: '2', name: '9:30'}, 1],
         [{index: '3', name: '10:30'}, 1],
     [{index: '4', name: '11:30'}, 1],
     [{index: '5', name: '12:30'}, 1],
         [{index: '6', name: '14:30'}, 1],
      [{index: '7', name: '15:30'}, 1],
      [{index: '8', name: '16:30'}, 1],
      [{index: '9', name: '17:30'}, 1],
      [{index: '10', name: '18:30'}, 1],
      [{index: '11', name: '19:30'}, 1],
      [{index: '12', name: '20:30'}, 1]
     ];
     var Timetable = new Timetables();

    //a.js
function afterAjaxSuccess(jsonData) {
    courseList=jsonData;

Timetable =new Timetables({
el: '#coursesTable',
timetables: courseList,
week: week,
timetableType: courseType,
highlightWeek: day,
gridOnClick: function (e) {
  alert(e.name + '  ' + e.week + ', 第' + e.index + '节课, 课长' + e.length + '节');
  console.log(e);
},
styles: {
  Gheight: 50
}
});
}
//.html
function get_schedule() {
    $.ajax({
        url:'/class_schedule/get_schedule',
        dataType: 'JSON',
        type: 'GET',
        success: function(data){
            afterAjaxSuccess(data);
        },
        error: function(data, status, e) {
            alert("asd");
        }
    });
}

//切换课表
    var schedule_PATH = '/class_schedule/get_scheduleOther';
function onChange() {
    document.getElementById("load").style.visibility="visible";
    if(schedule_PATH !== '/class_schedule/get_scheduleOther'){
        schedule_PATH = '/class_schedule/get_scheduleOther';
    }else{
        schedule_PATH = '/class_schedule/get_schedule';
    }
    $.ajax({
        url: schedule_PATH,
        dataType: 'JSON',
        type: 'GET',
        success: function(data){
            changeScheduleSuccess(data);
            //请求完成，隐藏模态框
            document.getElementById("load").style.visibility="hidden";
        },
        error: function(data, status, e) {
            alert("asd");
            //请求完成，隐藏模态框
            document.getElementById("load").style.visibility="hidden";
        }
    });
}

function changeScheduleSuccess(jsonData) {
    courseListOther = jsonData;

   Timetable.setOption({
  timetables: courseListOther,
  week: ['一', '二', '三', '四', '五', '六', '日'],
  styles: {
	palette: ['#dedcda', '#ff4081']
  },
  timetableType: courseType,
  gridOnClick: function (e) {
  alert(e.name + '  ' + e.week + ', 第' + e.index + '节课, 课长' + e.length + '节');
  console.log(e);
  },
  });
}

</script>
<script>
    (function(window,document,undefined){
    var hearts = [];

    window.requestAnimationFrame = (function(){
        return window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
         window.oRequestAnimationFrame ||
         window.msRequestAnimationFrame ||
         function (callback){
             setTimeout(callback,1000/60);
         }
    })();

    init();

    function init(){
        css(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: absolute;}.heart:after{top: -5px;}.heart:before{left: -5px;}");
        attachEvent();
        gameloop();
    }

    function gameloop(){
        for(var i=0;i<hearts.length;i++){
            if(hearts[i].alpha <=0){
                document.body.removeChild(hearts[i].el);
                hearts.splice(i,1);
                continue;
             }

             hearts[i].y--;
             hearts[i].scale += 0.004;
             hearts[i].alpha -= 0.013;
             hearts[i].el.style.cssText = "left:"+hearts[i].x+"px;top:"+hearts[i].y+"px;opacity:"+hearts[i].alpha+";transform:scale("+hearts[i].scale+","+hearts[i].scale+") rotate(45deg);background:"+hearts[i].color;
        }

        requestAnimationFrame(gameloop);
    }

    function attachEvent(){
        var old = typeof window.onclick==="function" && window.onclick;
        window.onclick = function(event){
            old && old();
            createHeart(event);
        }
    }

    function createHeart(event){
        var d = document.createElement("div");
        d.className = "heart";
        hearts.push({
            el : d,
            x : event.clientX - 5,
            y : event.clientY - 5,
            scale : 1,
            alpha : 1,
            color : randomColor()
        });

        document.body.appendChild(d);
    }

    function css(css){
        var style = document.createElement("style");
        style.type="text/css";
        try{
            style.appendChild(document.createTextNode(css));
        }
        catch(ex){
            style.styleSheet.cssText = css;
        }

        document.getElementsByTagName('head')[0].appendChild(style);
    }

    function randomColor(){
        return "rgb("+(~~(Math.random()*255))+","+(~~(Math.random()*255))+","+(~~(Math.random()*255))+")";
    }

})(window,document);
</script>
</body>
</html>
