/* Header */
.large-header {
	position: relative;
	width: 100%;
	height:100%;
	background: #333;
	overflow: auto;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.question-large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.login-bg .large-header {
	height:2000px;
	background-image: url('../../images/background-board.jpg');
	opacity:0.7;
}
.question-bg .question-large-header {
	background-image:url('../../images/background-question.jpg');
	opacitity:1;
}
.logo_box{
	width: 400px;
	height: 500px;
	padding: 35px;
	color: #EEE;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -200px;
	margin-top: -250px;
}
.logo_box h3{
	text-align: center;
	height: 20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
	color: #FFFFFF;
	height: 20px;
	line-height: 20px;
	padding:0 0 35px 0;
}
.forms{
	width: 280px;
	height: 485px;
}
.logon_inof{
	width: 100%;
	min-height: 450px;
	padding-top: 35px;
	position: relative;
}
.input_outer{
	height: 46px;
	padding: 0 5px;
	margin-bottom: 30px;
	border-radius: 50px;
	position: relative;
	border: rgba(255,255,255,0.2) 2px solid !important;
}
.checkcode_outer{
	display: inline-flex;
}
.checkimg_outer{
	padding: 8px 18px;
	margin-bottom: 30px;
	margin-left: 20px;
}
.u_user{
	width: 25px;
	height: 25px;
	border-radius:50px;
	background-image: url(../../images/ico-login.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	position: absolute;
	margin: 10px 13px;
}
.us_uer{
	width: 25px;
	height: 25px;
	border-radius:50px;
	background-image: url(../../images/lock-login.jpg);
	background-size:100% 100%;
	position: absolute;
	margin: 10px 13px;
}
.l-login{
	position: absolute;
	z-index: 1;
	left: 50px;
	top: 0;
	height: 46px;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	line-height: 46px;
}
.text{
	width: 220px;
	height: 46px;
	outline: none;
	display: inline-block;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	margin-left: 50px;
	border: none;
	background: none;
	line-height: 46px;
}
.checkcode{
	width: 140px;
	height: 46px;
	outline: none;
	display: inline-block;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	text-align: center;
	border: none;
	background: none;
	line-height: 46px;
}
.checkimg{
	/*margin: auto;*/
}
/*///*/
.mb2{
	margin-bottom: 20px
}
.mb2 a{
	text-decoration: none;
	outline: none;
}
.submit {
	padding: 15px;
	/*margin-top: 20px;*/
	display: block;
}
.act-but{
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	border-radius: 50px;
	background: #0096e6;
}